<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.portto.sdk.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".CallbackActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="blocto" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebSDKActivity"
            android:theme="@style/Theme.Browser" />
    </application>
</manifest>
